# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
fontend-react-native/node_modules/

# Expo
fontend-react-native/.expo/
fontend-react-native/dist/
fontend-react-native/web-build/

# Native
*fontend-react-native/.orig.*
*fontend-react-native/.jks
*fontend-react-native/.p8
*fontend-react-native/.p12
*fontend-react-native/.key
*fontend-react-native/.mobileprovision


# Metro
fontend-react-native/.metro-health-check*

fontend-react-native/firebaseConfig.js
fontend-react-native/google-services.json

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
fontend-react-native/.env*.local

# typescript
*.tsbuildinfo
